# Base de données
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/closeup?schema=public"

# NextAuth
NEXTAUTH_SECRET="votre-secret-tres-securise-a-changer-en-production"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary (pour le stockage des médias)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Flutterwave (pour les paiements Mobile Money)
FLUTTERWAVE_PUBLIC_KEY=""
FLUTTERWAVE_SECRET_KEY=""
FLUTTERWAVE_ENCRYPTION_KEY=""
FLUTTERWAVE_WEBHOOK_SECRET=""

# Application
NEXT_PUBLIC_APP_URL="http://localhost:3000"
